<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="css/main.css">
		</head>
		<body>

		<div class="header">
		  <h1>Friedrich Lorenz</h1>
		  <p><b>PhD Candidate</p>
		</div>

		<div class="navbar">
		  <a href="" class="active">Home</a>
		  <a href="research" class="right">Research</a>
		  <a href="teaching" class="right">Teaching</a>
		</div>
			
		<div class="container">
			
			{{ content }}
			
		</div><!-- /.container -->


		</body>
	</html>
